.prof-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 25%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 17%;
    height: 17%;
    margin-top: 30px;
    margin-bottom: 30px;
    opacity: 1 !important;
}
.prof-box {
    width: 450px;
    height: 450px;
    background-color: rgb(7, 87, 0);
    opacity: 0.7;
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 140px;
    text-align: center;
}
    .line-break {
        width: 140px;
        margin: 0 auto;
        border-top: 1px solid white;
    }
    .buttonStart {
        border: 1.5px solid black;
        outline: 0;
        display: inline-block;
        padding: 10px;
        color: rgb(7, 87, 0);
        background-color: #f4f4f4;
        text-align: center;
        cursor: pointer;
        font-weight: 700;
        width: 70%;
        border-radius: 20px;
        margin-top: 30px;
    }

body {
font-family: 'Nunito', sans-serif;

}