.column {
float: left;
width: 20%;
margin-bottom: 36px;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
padding: 0 8px;
color: rgb(0, 56, 0);
}
/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
.column {
width: 100%;
display: block;
}
}
/* Add some shadows to create a card effect */
.card {
box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}
/* Some left and right padding inside the container */
.container {
padding: 0 16px;
}
/* Clear floats */
.container::after, .row::after {
content: "";
clear: both;
display: table;
}
.title {
color: grey;
}
.button {
border: none;
outline: 0;
display: inline-block;
padding: 8px;
color: white;
background-color: #000;
text-align: center;
cursor: pointer;
width: 100%;
border-radius: 20px;
}

.button:hover {
background-color: #555;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    background-color: #f4f4f4;
    color: rgba(78, 184, 83, 0.486);
    border-styles: solid;
    border: 15px;
    border-color: rgba(78, 184, 83, 0.486);
    font-size: 16px;
    padding-bottom: 26px;
}

.btn:hover {
    background-color: rgba(78, 184, 83, 0.486);
}