h1 {
  text-align: center;
  font-size: 60px;
  margin-top: 50px;
  color: rgb(27, 136, 0);

}

body {

font-family: 'Nunito', sans-serif;

}

.card-text {
    word-wrap:
    break-word;
    padding-bottom: 5px;
}