<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spanth="http://www.w3.org/1999/XSL/Transform">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/login.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<!-- navbar -->
<nav th:replace="~{/layout :: nav}"></nav>
<!-- Input -->
<div class="container-fluid padding inputform">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Breakfast</h5>
                    <h6 class="card-question">What did you eat for breakfast?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Beef</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Pork</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Chicken</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Turkey</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Fish</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Bread</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Dairy</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Vegetarian produce</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Fruit</label>
                    </div>
                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="http://clipart-library.com/images/8TEjdpA7c.png">

                <div class="card-body">
                    <h4 class="card-title">You drove a car today</h4>
                    <p class="card-text">Are you driving an eco-friendly vehicle? If you are; Awesome! If not, switching to an eco-friendly vehicle can save up to RANDOM NUMBER CO2 emisson a year! I think the icecaps would love that</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="https://marketbasketfoods.com/wp-content/uploads/2014/09/meat-fish-sized.png">
                <div class="card-body">
                    <h4 class="card-title">You ate some meat today</h4>
                    <p class="card-text">Yummy! Did the meat that you ate come from a local farmer? Or is locally produced? If it is; Love it! If not; try it out, it dosn't just save a bunch in CO2 emisson, but your local farmers can continue to produce eco friendly produce that the planet will love!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="http://clipart-library.com/images/8TG6a8dqc.jpg">
                <div class="card-body">
                    <h4 class="card-title">You took the train today</h4>
                    <p class="card-text">Good job! By taking the train instead of the car or even a flight, you saved the planet a whole bunch of CO2 commision. And the trains are not only becoming faster and more convinient, but also more and more eco-friendly, whats not to love?</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://www.picclickimg.com/d/l400/pict/222614371616_/New-Cute-Cartoon-Fruit-Vegetable-Fridge-Magnet-Rubber.jpg">
                <div class="card-body">
                    <h4 class="card-title">All your meals were vegetarian today</h4>
                    <p class="card-text">Did you know that by switching to a vegetarian meal plan you can save up to RANDOM NUMBER CO2 EMISSION. And not only that, vegetarian food is delicious! So not only are you helping with saving the planet, you are also treating you taste buds!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://www.laughinglizards.com/wp-content/uploads/2005/12/product_l_l_ll-2071l.jpg">
                <div class="card-body">
                    <h4 class="card-title">You went shopping today</h4>
                    <p class="card-text">I bet you look awesome in your new outfit! Did you shop second hand? If not, did you know that by shopping second hand you are helping the climate, and reducinig the waste! Try searching online for second hand store close to where you live, we promise you will be suprised of the quality, and the price!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://www.k2technologies.net/wp-content/uploads/2017/05/b2ap3_large_managing_hardware_for_business_400.jpg">
                <div class="card-body">
                    <h4 class="card-title">You used some of your electrical devices today</h4>
                    <p class="card-text">Did you watch you favourite show? Or maybe you played your favourite computer game and won! Either way. It's always important to remember to switch of your appliances after you used them, and no, putting them on standby dosn't count! Another tip is to turn off the lights when you don't need them, and hey, a couple of candles is super cozy!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="~{/layout :: footer}"></footer>

</body>
</html>
