<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spanth="http://www.w3.org/1999/XSL/Transform">
<head>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <title>Document</title>
    <script type="text/javascript"  src="/css/input.js"></script>
</head>
<body>
<!-- navbar -->
<nav th:replace="~{/layout :: nav}"></nav>
<!-- Input -->
<div class="container-fluid padding inputform">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">


            <div class="card styleFeedbackCard" id="breakfastCard">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Breakfast</h5>
                    <h6 class="card-question">What did you eat for breakfast?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="breakfastMeat">
                        <label for="breakfastMeat">Meat</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="breakfastFish">
                        <label for="breakfastFish">Fish</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="breakfastDairy">
                        <label for="breakfastDairy">Dairy</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="breakfastVeg">
                        <label for="breakfastVeg">Vegetarian</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="breakfastLocProd">
                        <label for="breakfastLocProd">Locally Produced</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="breakfastNoLocProc">
                        <label for="breakfastNoLocProc">Not Locally Produced</label>
                    </div>

                    <a href="#" onclick="switchCardToLunch()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="lunchCard">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Lunch</h5>
                    <h6 class="card-question">What did you eat for Lunch?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="lunchMeat">
                        <label for="lunchMeat">Meat</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="lunchFish">
                        <label for="lunchFish">Fish</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="lunchDairy">
                        <label for="lunchDairy">Dairy</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="lunchVeg">
                        <label for="lunchVeg">Vegetarian</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="lunchLocProd">
                        <label for="lunchLocProd">Locally Produced</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="lunchNoLocProc">
                        <label for="lunchNoLocProc">Not Locally Produced</label>
                    </div>

                    <a href="#" onclick="switchCardToDinner()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="dinnerCard">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Dinner</h5>
                    <h6 class="card-question">What did you eat for Dinner?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dinnerMeat">
                        <label for="dinnerMeat">Meat</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dinnerFish">
                        <label for="dinnerFish">Fish</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dinnerDairy">
                        <label for="dinnerDairy">Dairy</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dinnerVeg">
                        <label for="dinnerVeg">Vegetarian</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dinnerLocProd">
                        <label for="dinnerLocProd">Locally Produced</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dinnerNoLocProc">
                        <label for="dinnerNoLocProc">Not Locally Produced</label>
                    </div>

                    <a href="#" onclick="switchCardToOther1()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="otherCard1">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Other</h5>
                    <h6 class="card-question">Did you have anything else today?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherMeat">
                        <label for="otherMeat">Meat</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherFish">
                        <label for="otherFish">Fish</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherDairy">
                        <label for="otherDairy">Dairy</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherVeg">
                        <label for="otherVeg">Vegetarian</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherLocProd">
                        <label for="otherLocProd">Locally Produced</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherNoLocProc">
                        <label for="otherNoLocProc">Not Locally Produced</label>
                    </div>

                    <a href="#" onclick="switchCardToTransportation()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="transportationCard">
                <h5 class="card-header">Transportation</h5>
                <div class="card-body">
                    <h5 class="card-title">Vehicle</h5>
                    <h6 class="card-question">What kind of transportation did you use today?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="vehicleCar">
                        <label for="vehicleCar">Car</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="vehicleLocal">
                        <label for="vehicleLocal">Subway/Tram/Buss</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="vehicletrain">
                        <label for="vehicletrain">Train</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="vehicleairplane">
                        <label for="vehicleairplane">Airplane</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="vehiclenonTrans">
                        <label for="vehiclenonTrans">None</label>
                    </div>

                    <a href="#" onclick="switchCardToDistance()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="distanceCard">
                <h5 class="card-header">Transportation</h5>
                <div class="card-body">
                    <h5 class="card-title">Distance</h5>
                    <h6 class="card-question">How long did you travel today?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="trans02">
                        <label for="trans02">0-2h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="trans34">
                        <label for="trans34">3-4h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="trans56">
                        <label for="trans56">5-6h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="trans78">
                        <label for="trans78">7-8h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="trans9">
                        <label for="trans9">9+h</label>
                    </div>

                    <a href="#" onclick="switchCardToDevices()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="devicesCard">
                <h5 class="card-header">Devices</h5>
                <div class="card-body">
                    <h5 class="card-title">Electrical</h5>
                    <h6 class="card-question">What kind of electrical devices did you use today?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="tv">
                        <label for="tv">TV</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="computer">
                        <label for="computer">Computer</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="phone">
                        <label for="phone">Phone</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="kitchenApp">
                        <label for="kitchenApp">Kitchen Appliance</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="devOther">
                        <label for="devOther">Other</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="devNon">
                        <label for="devNon">None</label>
                    </div>

                    <a href="#" onclick="switchCardToUsage()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="usageCard">
                <h5 class="card-header">Devices</h5>
                <div class="card-body">
                    <h5 class="card-title">Usage Time</h5>
                    <h6 class="card-question">For how long did you use your devices today?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dev02">
                        <label for="dev02">0-2h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dev34">
                        <label for="dev34">3-4h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dev56">
                        <label for="dev56">5-6h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="dev78">
                        <label for="dev78">7-8h</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="deb9">
                        <label for="deb9">9+h</label>
                    </div>

                    <a href="#" onclick="switchCardToOther2()" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div style="display: none" class="card" id="otherCard2">
                <h5 class="card-header">Other</h5>
                <div class="card-body">
                    <h5 class="card-title">Other</h5>
                    <h6 class="card-question">Did you do any of the following today?</h6>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherShopNew">
                        <label for="otherShopNew">Shopping - Brand New</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherShop2Hand">
                        <label for="otherShop2Hand">Shopping - Second Hand</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherNewsMag">
                        <label for="otherNewsMag">Bought a Newspaper/Magazine</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherWash">
                        <label for="otherWash">Laundry With Washer/Dryer</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherUnderShower10">
                        <label for="otherUnderShower10">Shower Under 10 min</label>
                    </div>

                    <div class="checkbox">
                        <input type="checkbox" value="" id="otherOverShower10">
                        <label for="otherOverShower10">Shower Over 10 min</label>
                    </div>


                    <a href="#" onclick="hideCards()" id="showFeedbackCards" class="btn btn-primary">Submit</a>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding justify-content-center">

        <div id="show1P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/1p.png">
            </div>
        </div>

        <div id="show2P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/2p.png">
            </div>
        </div>
        <div id="show3P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/3p.png">
            </div>
        </div>
        <div id="show4P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/4p.png">
            </div>
        </div>
        <div id="show5P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/5p.png">
            </div>
        </div>
        <div id="show6P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/6p.png">
            </div>
        </div>
        <div id="show7P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/7p.png">
            </div>
        </div>
        <div id="show8P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/8p.png">
            </div>
        </div>
        <div id="show9P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/9p.png">
            </div>
        </div>
        <div id="show10P">
            <div class="card" >
                <img class="card-img-top img-thumbnail scoreCard" src="/images/10p.png">
            </div>
        </div>

        <div class="col-md-4" id="showCar">
            <div class="card" >
                <img class="card-img-top img-thumbnail" src="/images/car.png">

                <div class="card-body">
                    <h4 class="card-title">You drove a car today</h4>
                    <p class="card-text">Are you driving an eco-friendly vehicle? If you are; Awesome! If not, switching to an eco-friendly vehicle can help save a bunch of CO2 emisson! We think the icecaps would love that</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" id="showMeat">
            <div class="card" >
                <img class="card-img-top img-thumbnail" src="/images/meat.png">
                <div class="card-body">
                    <h4 class="card-title">You ate some meat today</h4>
                    <p class="card-text">Yummy! Did the meat that you ate come from a local farmer? Or is locally produced? If it is; Love it! If not; try it out, it dosn't just save a bunch in CO2 emisson, but your local farmers can continue to produce eco friendly produce that the planet will love!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" id="showTrain">
            <div class="card" >
                <img class="card-img-top" src="/images/train.jpg">
                <div class="card-body">
                    <h4 class="card-title">You took the train today</h4>
                    <p class="card-text">Good job! By taking the train instead of the car or even a flight, you saved the planet a whole bunch of CO2 commision. And the trains are not only becoming faster and more convinient, but also more and more eco-friendly, whats not to love?</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" id="showVeg">
            <div class="card" >
                <img class="card-img-top" src="/images/veg.jpg">
                <div class="card-body">
                    <h4 class="card-title">All your meals were vegetarian today</h4>
                    <p class="card-text">Did you know that by switching to a vegetarian meal plan will help the planet and it's enviroment. And not only that, vegetarian food is delicious! So not only are you helping with saving the planet, you are also treating you taste buds!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" id="showShopping">
            <div class="card" >
                <img class="card-img-top" src="/images/shopping.jpg">
                <div class="card-body">
                    <h4 class="card-title">You went shopping today</h4>
                    <p class="card-text">I bet you look awesome in your new outfit! Did you shop second hand? If not, did you know that by shopping second hand you are helping the climate, and reducing the waste! Try searching online for second hand store close to where you live, we promise you will be suprised of the quality, and the price!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4" id="showElectric">
            <div class="card">
                <img class="card-img-top" src="/images/electrical.jpg">
                <div class="card-body">
                    <h4 class="card-title">You used some of your electrical devices today</h4>
                    <p class="card-text">Did you watch you favourite show? Or maybe you played your favourite computer game and won! Either way. It's always important to remember to switch of your appliances after you used them, and no, putting them on standby dosn't count! Another tip is to turn off the lights when you don't need them, and hey, a couple of candles is super cozy!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>




        <div class="col-md-4" id="showNotLocalProd">
            <div class="card">
                <img class="card-img-top" src="/images/notLocalProd.jpg">
                <div class="card-body">
                    <h4 class="card-title">Some of the food you ate was not produced locally</h4>
                    <p class="card-text">And that is okey! But, you should always aim to buy food that is locally produced. I bet that the farmers in your country produces some excellent food! The enviroment will benefit and it may also create jobs in your community!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-4" id="showLocalProd">
            <div class="card">
                <img class="card-img-top" src="/images/localProd.jpg">
                <div class="card-body">
                    <h4 class="card-title">You ate some food that was made locally!</h4>
                    <p class="card-text">Nice! It was delicious, right! Not only did you have a super good meal today, you also contributed to your community, and your planet! Buying locally produced food will help keep the CO2 emission down, and help towards the goal of a more substainable planet.</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-4" id="showAirplane">
            <div class="card">
                <img class="card-img-top" src="/images/airplane.jpg">
                <div class="card-body">
                    <h4 class="card-title">You got on an airplane today</h4>
                    <p class="card-text">Maybe you had a business trip far away, or maybe you finally took that vacation in some excotic place you always dreamt about. If so, we hope you had a great time! Next time, look in to the possibility into taking the train, or even a carpool if you're going someplace widthin driving distance. And have you seen all the beautiful places that subside within your country? If not, take the train and explore!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-4" id="showShopping2Hand">
            <div class="card">
                <img class="card-img-top" src="/images/shopping2hand.jpg">
                <div class="card-body">
                    <h4 class="card-title">You did some second hand shoppnig today!</h4>
                    <p class="card-text">Nice job! Buying second hand cloathing helps the enviroment if several different ways! It helps by not using the chemichals needed to produce brand new clothes. It can also save you a buck or two! How nice is that??</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-4" id="showBus">
            <div class="card">
                <img class="card-img-top" src="/images/bus.jpg">
                <div class="card-body">
                    <h4 class="card-title">You took the bus/Subway/Tram today</h4>
                    <p class="card-text">By taking the bus/subway/tram, instead of driving will help save a ton of CO2 emissions. Bus routes are becoming more and more convinient and the buses themselfes are becoming more envirimental friendly. If more people start taking the bus/subway/tram instead of driving, it will help the planet, and make if cheaper! So go tell you friends about the benefits of usin public transportation!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>

        <div class="col-md-4" id="showSomeVeggies">
            <div class="card">
                <img class="card-img-top" src="/images/SomeVeggies.jpg">
                <div class="card-body">
                    <h4 class="card-title">Some of your meals were vegetarian today</h4>
                    <p class="card-text">Did you know that by switching out some of your meat dishes with a vegetarian option will help the planet! When meat are produced it polutes the earth with dangerous CO2 emissions. Try to make some of your meals, days or even weeks fully vegetarian. The enviroment will thank you! </p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>


    </div>
</div>
<!-- Footer -->
<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>