<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spanth="http://www.w3.org/1999/XSL/Transform">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/login.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<!-- navbar -->
<nav th:replace="~{/layout :: nav}"></nav>
<!-- Input -->
<div class="container-fluid padding inputform">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Breakfast</h5>
                    <h6 class="card-question">What did you eat for breakfast?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastRedMeat">Red Meat</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastPork">Pork</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastPoultry">Poultry</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastFish">Fish</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastDairy">Dairy</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastBread">Bread</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastRice">Rice</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastPasta">Pasta</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastFruit">Fruit</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastBeans">Beans</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastQuinoa">Quinoa/Bulgur</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastGreens">Greens</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastOther">Other</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastLocProd">Locally Produced</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="breakfastNoLocProc">Not Locally Produced</label>
                    </div>
                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Lunch</h5>
                    <h6 class="card-question">What did you eat for Lunch?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchRedMeat">Red Meat</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchPork">Pork</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchPoultry">Poultry</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchFish">Fish</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchDairy">Dairy</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchBread">Bread</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchRice">Rice</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchPasta">Pasta</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchFruit">Fruit</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchBeans">Beans</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchQuinoa">Quinoa/Bulgur</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchGreens">Greens</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchOther">Other</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchLocProd">Locally Produced</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="lunchNoLocProc">Not Locally Produced</label>
                    </div>
                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Dinner</h5>
                    <h6 class="card-question">What did you eat for Dinner?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerRedMeat">Red Meat</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerPork">Pork</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerPoultry">Poultry</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerFish">Fish</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerDairy">Dairy</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerBread">Bread</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerRice">Rice</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerPasta">Pasta</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerFruit">Fruit</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerBeans">Beans</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerQuinoa">Quinoa/Bulgur</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerGreens">Greens</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerOther">Other</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerLocProd">Locally Produced</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dinnerNoLocProc">Not Locally Produced</label>
                    </div>
                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Food</h5>
                <div class="card-body">
                    <h5 class="card-title">Other</h5>
                    <h6 class="card-question">Did you have anything else today?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherRedMeat">Red Meat</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherPork">Pork</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherPoultry">Poultry</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherFish">Fish</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherDairy">Dairy</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherBread">Bread</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherRice">Rice</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherPasta">Pasta</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherFruit">Fruit</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherBeans">Beans</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherQuinoa">Quinoa/Bulgur</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherGreens">Greens</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherOther">Other</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherLocProd">Locally Produced</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherNoLocProc">Not Locally Produced</label>
                    </div>
                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Transportation</h5>
                <div class="card-body">
                    <h5 class="card-title">Vehicle</h5>
                    <h6 class="card-question">What kind of transportation did you use today?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="carPetrol">Car - Petrol</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="carDiesel">Car - Diesel</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="carElectric">Car - Electric</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="buss">Buss</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="subwayTram">Subway/Tram</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="train">Train</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="airplane">Airplane</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="boat">Boat</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="walking">Walking</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="nonTrans">Non</label>
                    </div>

                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Transportation</h5>
                <div class="card-body">
                    <h5 class="card-title">Distance</h5>
                    <h6 class="card-question">How long did you travel today?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="trans02">0-2h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="trans34">3-4h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="trans56">5-6h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="trans78">7-8h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="trans9">9+h</label>
                    </div>


                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Devices</h5>
                <div class="card-body">
                    <h5 class="card-title">Electrical</h5>
                    <h6 class="card-question">What kind of electrical devices did you use today?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="tv">TV</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="computer">Computer</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="phone">Phone</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="kitchenApp">Kitchen Appliance</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="devOther">Other</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="devNon">Non</label>
                    </div>

                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Devices</h5>
                <div class="card-body">
                    <h5 class="card-title">Usage Time</h5>
                    <h6 class="card-question">For how long did you use your devices today?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dev02">0-2h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dev34">3-4h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dev56">5-6h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="dev78">7-8h</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="deb9">9+h</label>
                    </div>


                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Other</h5>
                <div class="card-body">
                    <h5 class="card-title">Other</h5>
                    <h6 class="card-question">Did you do any of the following today?</h6>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherShopNew">Shopping - Brand New</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherShop2Hand">Shopping - Second Hand</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherNewsMag">Bought a Newspaper/Magazine</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherWash">Laundry With Washer/Dryer</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherUnderShower10">Shower Under 10 min</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="otherOverShower10">Shower Over 10 min</label>
                    </div>


                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>


        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row padding justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/images/car.png">

                <div class="card-body">
                    <h4 class="card-title">You drove a car today</h4>
                    <p class="card-text">Are you driving an eco-friendly vehicle? If you are; Awesome! If not, switching to an eco-friendly vehicle can save up to RANDOM NUMBER CO2 emisson a year! I think the icecaps would love that</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top img-thumbnail" src="/images/meat.png">
                <div class="card-body">
                    <h4 class="card-title">You ate some meat today</h4>
                    <p class="card-text">Yummy! Did the meat that you ate come from a local farmer? Or is locally produced? If it is; Love it! If not; try it out, it dosn't just save a bunch in CO2 emisson, but your local farmers can continue to produce eco friendly produce that the planet will love!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/train.jpg">
                <div class="card-body">
                    <h4 class="card-title">You took the train today</h4>
                    <p class="card-text">Good job! By taking the train instead of the car or even a flight, you saved the planet a whole bunch of CO2 commision. And the trains are not only becoming faster and more convinient, but also more and more eco-friendly, whats not to love?</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/veg.jpg">
                <div class="card-body">
                    <h4 class="card-title">All your meals were vegetarian today</h4>
                    <p class="card-text">Did you know that by switching to a vegetarian meal plan you can save up to RANDOM NUMBER CO2 EMISSION. And not only that, vegetarian food is delicious! So not only are you helping with saving the planet, you are also treating you taste buds!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/shopping.jpg">
                <div class="card-body">
                    <h4 class="card-title">You went shopping today</h4>
                    <p class="card-text">I bet you look awesome in your new outfit! Did you shop second hand? If not, did you know that by shopping second hand you are helping the climate, and reducinig the waste! Try searching online for second hand store close to where you live, we promise you will be suprised of the quality, and the price!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/images/electrical.jpg">
                <div class="card-body">
                    <h4 class="card-title">You used some of your electrical devices today</h4>
                    <p class="card-text">Did you watch you favourite show? Or maybe you played your favourite computer game and won! Either way. It's always important to remember to switch of your appliances after you used them, and no, putting them on standby dosn't count! Another tip is to turn off the lights when you don't need them, and hey, a couple of candles is super cozy!</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="~{/layout :: footer}"></footer>

</body>
</html>
