<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spanth="http://www.w3.org/1999/XSL/Transform">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="\images\titlelogo.ico"/>
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav th:replace="~{/layout :: nav}"></nav>
<!-- navbar -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navigation">-->
    <!--<a class="navbar-brand" href="/index">-->
        <!--<i class="fas fa-globe-americas"></i>-->
    <!--</a>-->
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"-->
            <!--aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
    <!--</button>-->
    <!--<a class="navbar-brand" href="/index">BeGreen</a>-->
    <!--<div class="collapse navbar-collapse" id="navbarTogglerDemo03">-->
        <!--<form class="form-inline my-2 mx-auto my-lg-0" action="/search" method="post">-->
            <!--<div class="search-group">-->
                <!--<input class="form-control mr-sm-2" name="searchword" type="search" placeholder="Search"-->
                       <!--aria-label="Search">-->
                <!--<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">-->
                    <!--<i class="fas fa-search" id="btn-search"></i></button>-->
            <!--</div>-->
        <!--</form>-->
        <!--<nav class="navbar navbar-light bg-light">-->
            <!--<form class="form-inline profile">-->
                <!--<a href="/profile"><i class="fas fa-user"></i> Profile</a>-->
            <!--</form>-->
            <!--<form class="form-inline" action="/logout" method="get">-->
                <!--<button class="btn btn-outline-primary ml-sm-2" type="submit">Log out</button>-->
            <!--</form>-->
        <!--</nav>-->
        <!--<nav class="navbar navbar-light bg-light" >-->
            <!--<form class="form-inline" action="/login" method="get">-->
                <!--<button class="btn btn-primary " type="submit">Log in</button>-->
            <!--</form>-->
            <!--<form class="form-inline" action="/register" method="get">-->
                <!--<button class="btn btn-outline-primary ml-sm-2" type="submit">Sign up</button>-->
            <!--</form>-->
        <!--</nav>-->
    </div>
</nav>
<!-- Input -->
<div class="container-fluid padding inputform">
    <div class="row text-center justify-content-center">
        <div class="col-md-4">
            <div class="container">
                <div class="card card-container styleFeedbackCard">
                    <!-- <images class="profile-images-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                    <img id="profile-img" class="profile-img-card" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" />
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin" action="/profile" method="post">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="Firstname" required autofocus>
                        <input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Lastname" required autofocus>
                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required autofocus>
                        <input type="password" id="inputConfirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm Password" required autofocus>
                        <div id="remember" class="checkbox">

                                <input type="checkbox" value="accept-conditions" required="required" id="acceptCondition">
                            <label for="acceptCondition">By submitting this form you agree to our <a href="/terms" class="registerlink" > terms and conditions</a></label>
                        </div>
                        <button class="btn btn-lg btn-primary btn-block btn-register" type="submit">Register</button>
                    </form><!-- /form -->
                    <div>
                    Already a User? Log in<a href="/login"  class="forgot-password registerlink"> Here
                    </a>
                    </div>
                </div><!-- /card-container -->
            </div><!-- /container -->
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>