<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spanth="http://www.w3.org/1999/XSL/Transform">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/Home.css">
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/whyneeded.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <title>BeGreen</title>
    <style>
        body { background-color: rgba(78, 184, 83, 0.486); }
      </style>
</head>
<body>
<nav th:replace="~{/layout :: nav}"></nav>

<div class="prof-box">
    <h1> WHY IS </h1>
    <h5> BEGREEN NEEDED? </h5>
    <div class="line-break"></div>
    <p>
        <img src="https://media.giphy.com/media/k4drIzcE2mPWU/giphy.gif">
        How many planets do we need if everybody lives like you?
        When is your personal Overshoot Day?
    </p>
</div>
<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>