<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:spanth="http://www.w3.org/1999/XSL/Transform">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/Navbar.css">
    <link rel="stylesheet" href="/css/Footer.css">
    <link rel="stylesheet" href="/css/Index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/whyneeded.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
          crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<!-- navbar -->
<nav th:replace="~{/layout :: nav}"></nav>
<!-- Input -->
<h1 class="threed">WHY IS BEGREEN NEEDED?</h1>
<div class="container-fluid padding">
    <div class="row padding justify-content-center">
        <div class="col-md-4">
            <div class="card feedbackCard">
                <img class="card-img-top" src="\images\waves.png">
                <div class="card-body">
                    <h4 class="card-title">How CO2 Affects The Ocean</h4>
                    <p class="card-text">The change in pH has troubled researchers in the recent years, as they predict ocean acidity will more than double by 2100 if fossil fuels are burned at today’s rate. The polar regions will be the first to undergo the most dramatic changes, and scientists forecast that the Southern Ocean has the potential to become corrosive with radically lowered pH levels by 2050.</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card feedbackCard">
                <img class="card-img-top justify-content-center" src="\images\cow.png">
                <div class="card-body">
                    <h4 class="card-title">Food's Carbon Footprint</h4>
                    <p class="card-text">Food’s carbon footprint, or foodprint, is the greenhouse gas emissions produced by growing, rearing, farming, processing, transporting, storing, cooking and disposing of the food you eat. Producing beef for the table has a surprising environmental cost: it releases prodigious amounts of heat-trapping greenhouse gases</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card feedbackCard">
                <img class="card-img-top" src="\images\tree.png">
                <div class="card-body">
                    <h4 class="card-title">Greenhouse Effect</h4>
                    <p class="card-text">Most climate scientists agree the main cause of the current global warming trend is human expansion of the "greenhouse effect" — warming that results when the atmosphere traps heat radiating from Earth toward space.</p>
                    <!-- <a href="#" class="btn btn-outline-secondary">See More</a> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<footer th:replace="~{/layout :: footer}"></footer>
</body>
</html>